* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    height: 2000px;
    background-color: black;
}
.fondo_cabe {
    background-image: url(coche2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.cabecera {
    border: 1px solid;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.18);
    width: 100%;
    position: fixed;
    top: 0;
    background: transparent;
    align-items: center;
    transition: background 0.3s ease-in-out;
}
body:has() .cabecera {
    backdrop-filter: blur(20px);
}
.cabecera .logo {
    width: 20%;
    float: left;
    margin: 10px;
}
.cabecera .icons {
    border: 1px solid;
    align-items: center;
    width: 1032px;
    height: 50px;
    float: right;
    margin: 10px;
}
.icons input {
    align-items: center;
    border: transparent;
    background-color: gray;
    text-align: center;
    border-radius: 10px;
    margin: 5px;
}
.cabecera a {
    margin: 15px;
    font-size: 30px;
    text-decoration: none;
    color: white;
}
.logo img {
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
}
.cuerpo {
    color: white;
}