.p3 {
    border: solid 5px aqua;
    background-color: greenyellow;
    margin: 0px;
    font-size: 20px;
}
.p1 {
    border: solid 5px rebeccapurple;
    background-color: yellow;
    margin: 0px;
    font-size: 0px;
}
.p2 {
    border: solid 5px red;
    background-color: blue;
    color: white;
    margin: 5px;
    font-size: 5px;
}
p {
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
}
body {
    margin: 0px;
}