body {
    background-color: rgb(10, 10, 10);
    margin: 0px;
    padding: 0px;
    color: rgb(214, 213, 213);
    font-family: Verdana;
}
.cbc_2 .img_logo {
    width: 30px;
    height: 30px;
    float: left;
    align-items: center;
}
.cbc_2 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);
    flex-wrap: wrap;
    backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.cbc_2 .x {
    font-weight: bold;
    font-size: 20px
}
.cbc_2 a {
    padding: 15px;
    align-items: center;
    text-decoration: none;
    color: rgb(214, 213, 213);
}
.group {
    display: flex;
    line-height: 30px;
    align-items: center;
    position: relative;
    max-width: 200px;
  }
.input_1 {
    width: 100%;
    height: 20px;
    line-height: 30px;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    background-color: #cccccc;
    color: #0d0c22;
    transition: .5s ease;
  }
  .input_1:focus, .input_1:hover {
    outline: none;
    border-color: rgb(0, 0, 0);
    background-color: #fff;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
  }
  .img_presenta .text_present p {
    color: white;
  }
  .img_presenta .text_present {
    display: flex;
    justify-content: center;
  }
  .img_presenta {
    width: 100%;
    height: 872px;
    background-position: center;
    background-size: cover;
    position: relative;
    animation: slider 12s linear infinite;
    align-content: center;
    font-family: Verdana;
  }
  @keyframes slider {
    0%{background-image: url(img1.webp);}
    33.33%{background-image: url(img2.webp);}
    66.66%{background-image: url(img3.jpg);}
    99.99%{background-image: url(img1.webp);}
  }
.img_presenta::before {
    text-align: center;
    content: "";
    position: absolute;
    padding: 20px;
    opacity: 1;
    transition: opacity 1s;
    animation: cmb_text 12s linear infinite;
}
@keyframes cmb_text {
    0%{content: "Diseña lo que quieras"; opacity: 1; text-align: center;}
    33.33%{content: "Tu también puedes programar"; opacity: 1;}
    66.66%{content: "Imagina sin límites"; opacity: 1;}
    99.99%{content: "Aprende a hacer mágia";}
}
.cuerp .html {
    width: 100%;
    height: 1000px;
}
.cuerp .html p {
    width: 50%;
    margin: 20px;
}
.cuerp .present {
    width: 100%;
    height: 500px;
}
.cuerp .css {
    width: 100%;
    height: 1000px;
}
.cuerp .css p {
    width: 50%
}
.cuerp .js {
    width: 100%;
    height: 1000px;
}
.cuerp .js p {
    width: 50%;
}
.cuerp .cuestiones {
    width: 100%;
    height: 1000px;
}
.cuerp p {
    margin: 25px;
}
.cuerp h1 {
    margin: 10px;
}
.img_codigos {
    width: 250px;
    float: right;
}
img {
    width: 200px;
}
.pie {
    clear: both;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    border: 2px solid;
    width: 100%;
    height: 150px;
    border: 2px solid black;
}
.pie .apli a {
    text-decoration: none;
    color: white;
}
textarea{
    background-color: rgb(209, 207, 207);
    border-radius: 10px;
    border: transparent;
    width: 50%;
    height: 170px;
    margin: 0 25px;
}
.input_2 {
    background-color: transparent;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
    margin: 25px;
}
.input_2:focus, .input_2:hover {
    outline: none;
    border-color: rgb(0, 0, 0);
    background-color: #bbbbbb;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
}
.pru {
    width: 45%;
    margin: 20px;
}
.pru .html_neg a {
    float: left;
    margin: 0 20px;
}
.pru .html_neg {
    border-radius: 10px;
    width: 100%;
    height: 89px;
    background-color: black;
    color: white;
}
.pru .html_neg .html_gri {
    background-color: rgb(43, 43, 43);
    color: white;
}