#cabecera {
    background-color: rgb(210, 30, 30);
    text-align: center;
    align-items: center;
    font-size: 40px;
    align-content: center;
    width: 100%;
    height: 100px;
    margin: 0 0 10px;
}
#busc{
    border: solid 2px black;
    border-radius: 5px;
    background-color: rgb(221, 221, 221);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.18);
    padding: none;
    width: 100%;
    height: 30px;
}
#busc a {
    text-align: center;
    text-decoration: none;
}
#barra {
    margin: 0 0 20px;
    padding: 20px;
    float: left;
    background-color: rgb(221, 221, 221);
    width: 200px;
    height: 749px;
}
#text {
    padding: 20px;
    height: 749px;
    width: 100%;
    background-color: rgb(200, 200, 200);
}